foxden:
  profile:
    name: FoxDen

# 用户密码相关配置
user:
  password:
    maxRetryCount: 5              # 密码最大重试次数
    lockTime: 10                  # 锁定时间（分钟）

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:foxden;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

jimmer:
  dialect: org.babyfish.jimmer.sql.dialect.H2Dialect
  show-sql: true
  pretty-sql: true
  executor-context-level: DISABLED
  client:
    path: /jimmer
  database:
    initialization:
      mode: always
