.DS_Store
.history
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

*.tsbuildinfo

# 编译生成的文件
auto-imports.d.ts
components.d.ts

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
tests/**/coverage/
tests/e2e/reports
*.try.ts
selenium-debug.log

# claude
**/settings.local.json